{
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    },
    "rollup": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ]
    },
    "production": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ],
      "ignore": [
        "**/*.spec.js"
      ]
    }
  }
}
